.container {
  padding: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.card {
  width: 200px;
  height: 350px;
  background-color: rgb(242, 155, 172);
}
.card__img img {
  width: 100%;
  height: 200px;
}

.card__footer {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}
.btn__detalle {
  height: 30px;
  margin-top: 12px;
}
