.container__forms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin-top: 60px;
}
.forms__info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 35px;
}
input {
  margin-bottom: 10px;
}
